.father-div-projects {
  margin-top: 15px;
  display: flex;
  height: 60vh;
  justify-content: space-evenly;
  align-items: center;
}

.father-div-projects a div img {
  display: flex;
  border-radius: 5px;
}

.father-div-projects a {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-decoration: none;
}

.father-div-projects a h1 {
  color: #12213d;
  font-size: 18px;
  text-align: center;
}


.img-class-projects {
  opacity: 1.0;
  box-shadow: 2px 2px 2px #14213d;
  border-radius: 10px;
  height: 160px;
  display: flex;
  align-items: center;
  background-color: #14213d;
  justify-content: center;
  width: 160px;
}

.img-class-projects:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  .father-div-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 710px;
  }
}

@media screen and (max-width: 500px) {
  .father-div-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 710px;
  }
}