.father-clas-2 {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

.border-div-class-2 {
  box-shadow: 2px 2px 2px #14213d;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #14213D;
  height: 40px;
  width: 40px;
}

.border-div-class-2 a {
  display: flex;
}

.border-div-class-2:hover {
  cursor: pointer;
  opacity: 0.8;
}
