.div-header-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

nav a {
  opacity: 0.5;
  color: white;
  background-color: rgb(35, 35, 37);
  margin: 0 7px;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

nav a:hover {
  background-color: rgb(35, 35, 37);
  color: white;
  opacity: 1.0;
}

h1 {
  color: white;
  font-weight: 300;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .div-header-class {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
}