.div-header-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

nav a {
  opacity: 1;
  color: #fca311;
  background-color: #14213d;
  margin: 0 7px;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

nav a:hover {
  opacity: 0.8;
}

h1 {
  color: white;
  font-weight: 300;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .div-header-class {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
}

.div-header-class h1 {
  color: #14213d;
}